<div class="cover" style="background-image:url(<%= @board.image_url %>)">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h1><%= @board.title %></h1>
        <%= @board.category %><br>
        <%= @board.level %>
      </div>
    </div>
  </div>
</div>

<div class="coverDescr">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <%= image_tag Gravatar.new(current_user.email).image_url if current_user%><br>
        <p>Creado por <strong><%= "#{@board.user.name} #{@board.user.lastname}"%><strong></p><br>
        <h3><%= @board.description %></h3>
      </div>
    </div>
  </div>
</div>

<% @board.lessons.each do |lesson| %>
  <div class="container">
    <div class="row">
      <div class="container col-md-1"></div>
      <div class="lessons panel panel-default col-md-7 col-md-offset-1">
        <div class="panel-body">
          <% if @board.user == current_user %>
            <div class="container col-sm-12 col-md-12">
              <div class="close">
              <%= link_to 'x', [@board,lesson], method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
              <h3><strong><%= lesson.title %></strong></h3>
            </div>
          <% end %>
          
          <div class="col-md-5">
            <p><%= lesson.description %></p>
          </div>
          <div class="col-md-7">
            <object width="300" height="300" data='<%= lesson.url %>'></object>
          </div>
        </div>
      </div>

    </div>
  </div>
<% end %>

<% if @board.user == current_user %>
  <%= form_for(@board) do |f| %>

    <div class = "container" id="appendTip">
      <h4>Create as many lessons as you need for this board</h4>

      <%#= f.fields_for :lessons, @board.lessons do |lesson| %>
        <%# render 'lesson_fields', :l => lesson %>
      <%# end %> 
      <!-- <div class="form-group">
        <div class="col-lg-10"> -->
          <!-- <div class="btn btn-primary"> -->
            <%= link_to_add_fields "Add lesson", f, :lessons %>
          <!-- </div> -->
          
          <!-- <div class="actions"> -->
          <%= f.submit class:"btn btn-success" %>
          <!--  </div> -->
        <!-- </div>
      </div> -->
    </div>

  <% end %>
<% end %>

<p id="notice"><%= notice %></p>

<div>
  <%= link_to 'Edit', edit_board_path(@board) %> |
  <%= link_to 'Back', boards_path %>
</div>
